.data-wrapper {
  position: fixed;
  display: flex;
  width: 100%;
  height: 58px;
  top: 44px;
  justify-content: space-around;
  background-color: rgb(28, 179, 195);
  z-index: 99;
  transition: top 1s;
}
.data-wrapper a {
  border-radius: 5px;
  color: white;
  height: 90%;
}
.data-wrapper .active {
  background-color: white;
  color: rgb(28, 179, 195);
  text-decoration: none;
}
.more-data {
  position: relative;
  text-align: center;
  padding-top: 5px;
}
.more-data::before {
  content: "";
  position: absolute;
  height: 50px;
  width: 1px;
  left: -8px;
  top: 2px;
  background-color: white;
}
.more-data p {
  font-size: 12px;
  color: rgb(235, 252, 254);
}
