.flight-list {
  font-size: 12px;
  color: #999;
}
.time-font {
  font-size: 20px;
  color: #333;
  line-height: 20px;
}
.list-row {
  display: flex;
  padding: 10px 15px;
  border-bottom: 1px solid rgba(197, 197, 197, 0.3);
}
.list-info {
  flex: 5;
}
/* 左边信息 */
.airpot-info {
  position: relative;
}
.from-info {
  display: inline-block;
  width: 30%;
  text-align: left;
}
.time-info {
  position: relative;
  display: inline-block;
  width: 39%;
  height: 26px;
  text-align: center;
  font-size: 12px;
  box-sizing: border-box;
  color: #999;
  vertical-align: bottom;
}
.to-info {
  display: inline-block;
  width: 30%;
  text-align: right;
}

.arrow-right {
  position: absolute;
  width: 90%;
  height: 12px;
  border-bottom: 1px solid #ccc;
}
.arrow-right::after {
  content: "";
  width: 6px;
  height: 6px;
  display: block;
  position: absolute;
  right: 0;
  top: 10px;
  border-right: 1px solid #999;
  transform: rotate(-45deg);
}
/* 右边信息 */
.price {
  flex: 2;
  text-align: right;
}
.price-info {
  font-size: 20px;
  line-height: 20px;
  color: #ff8205;
}
