.flight-list {
  font-size: 12px;
  color: #999;
}
.time-font {
  font-size: 20px;
  color: #333;
  line-height: 20px;
}
.flight-list .list-row {
  display: flex;
  padding: 10px 15px;
}
.flight-list .list-info {
  flex: 5;
}
.flight-list .price {
  flex: 2;
}

.price-info {
  font-size: 20px;
  color: #ff8205;
}
